# Python
backend/venv/
__pycache__/
*.pyc

# Environment files
.env

# Node
frontend/node_modules/
frontend/dist/

# Upload folder
backend/uploads/*
!backend/uploads/.gitkeep


# Trained model files
backend/models/*.pt
backend/models/*.pth
